# binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# test binary, built with
*.test

# code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# dependency directories
# vendor/

# go workspace file
go.work
go.work.sum

# env
.env
.env.*
